SAFEQL_AWS_PROFILE=my-profile
SAFEQL_AWS_REGION=eu-west-1
SAFEQL_DATABASE_HOST=<instance>.<id>.<region>.rds.amazonaws.com
SAFEQL_DATABASE_NAME=mydb
SAFEQL_DATABASE_PORT=5432
SAFEQL_DATABASE_USER=iam_user
