.line.highlighted.error {
  --vp-code-line-highlight-color: var(--vp-c-red-dimm-2);
}

.line.highlighted.error span {
    --shiki-light: var(--vp-c-danger-1) !important;
    --shiki-dark: var(--vp-c-danger-1) !important;
}


.success .line.highlighted {
  --vp-code-line-highlight-color: var(--vp-c-green-soft) !important;
}

.success .line.highlighted span {
    color: var(--vp-c-green-1) !important;
}
